@import '~antd/dist/antd.css';

/* classes for use */

.horizontal-spacer {
  width: 10px;
}

.vertical-spacer {
  height: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* typography */

.title {
  color: #000000;
  font-size: 2em;
  font-weight: 500;
}

/* custom CSS for menu */

.ant-layout-header {
  padding-left: 5px;
}

.ant-menu {
  font-size: 1.2em;
  font-weight: 300;
}
