@import '~antd/dist/antd.css';

/* classes for use */

.clickable {
  cursor: pointer;
}

.horizontal-spacer {
  width: 10px;
}

.vertical-spacer {
  height: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.align-right {
  text-align: right;
}

/* typography */

.title {
  color: #000000;
  font-size: 2em;
  font-weight: 500;
}

.list-title {
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
}

/* custom CSS for menu */

.menu-title {
  font-size: 1.2em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
}

.ant-dropdown-menu-item .anticon {
  margin-right: 5px;
}

/* custom CSS for tag */

.ant-tag {
  margin: 3px;
}

/* custom CSS for divider */
.ant-divider-horizontal {
  margin: 10px 0;
}

/* custom CSS for list */
.ant-list-vertical .ant-list-item-content {
  margin-bottom: 0;
}
