@import '~antd/dist/antd.css';

/* classes for use */

.clickable {
  cursor: pointer;
}

.horizontal-spacer {
  width: 10px;
}

.vertical-spacer {
  height: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.avatar-div {
  width: 40px;
}

/* typography */

.title {
  color: #000000;
  font-size: 2em;
  font-weight: 500;
}

.list-title {
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
}

.list-title:hover {
  color: #000000;
}

/* custom CSS for layout */

.ant-layout {
  min-height: 100vh;
}

/* custom CSS for menu */

.menu-title {
  font-size: 1.2em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.ant-dropdown-menu-item .anticon {
  margin-right: 5px;
}

/* custom CSS for tag */

.ant-tag {
  margin: 3px;
}

/* custom CSS for divider */
.ant-divider-horizontal {
  margin: 10px 0;
}

/* custom CSS for list */
.ant-list-vertical .ant-list-item-content {
  margin-bottom: 0;
}

/* Display divs side by side */
.side-by-side {
  display: inline-block;
}

/* page transitions */
.FadeIn-appear {
  opacity: 0;
}

.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 1s;
}

.FadeIn-enter {
  opacity: 0;
}

.FadeIn-enter.FadeIn-enter-active {
  opacity: 1;
  transition: all 1s;
}

.FadeIn-leave {
  opacity: 1.0;
}

.FadeIn-leave.FadeIn-leave-active {
  opacity: 0;
  transition: all 1s;
}
